label.form-label {
    color: #fff;
}
label.form-check-label.register-forom-check {
    color: burlywood;
}
u {
    color: aqua;
}
input#form2Example3cg {
    margin-left: 10px;
    border-radius: 10%;
    margin-top: 6px;
}