@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Noto+Serif&display=swap');

@import url('https://fonts.googleapis.com/css?family=Eagle+Lake&display=swap');
nav{
	


}
.bg-dummy {
	background-color: #DC143C;
}
.fast-section{
	background-color:#EAECEE ;
}
.positon{
	position: sticky;
	top: 0;
	z-index: 10;
	

}
.home_page{
	position: relative;
}
.HD{
	
   
    margin-left: 10px;
	font-family: 'Eagle Lake', cursive;
	color:rgba(255, 255, 255, 0.79);
    font-size: 18px
    

}	
	
}
.icon_section i {
	text-decoration: none;
	margin-right:50px;
	font-size: 25px;
	color:white;
	transition: 0.6s;
}
.icon_section i:hover{
	color:#00FF00;
	transition: 0.6s;
	opacity: 1;

}
.shopping{
	text-decoration: none;
}

.icon_section .nav-link{
	color: white;
	opacity: 1;
	transition: 1s;

}
.nav-item{
	margin-left: 10px;
	font-family: 'Eagle Lake', cursive;
	color: rgba(255, 255, 255, 0.77);
    font-size: 18px;
    font-weight:500;
    
    

}




.navbar-collapse form{
	margin-right:80px;
}


/*.icon i strong:hover{
	color: white;
	opacity: 1;
	transition: 1s;
}*/

/*-----------------------------------heading_section_end----------------------*/
.caosel-image img{
	height: 500px;
}
.heading-section .col-3 .card img{
	transition: 1s;
	
	height: 500px;
}
.heading-section .col-3 .card img:hover{
	height: 500px;
	
	transition: 1s;
	transform: scale(1.3);
	
}
.lelftimg .card{
	overflow: hidden;
	
}


/*---------------------part_3 ----  Delivery_section  ---------------*/

/*.Delivery_section .col-3{
	
	background-color:#FFFFE0;

}*/
#Delivery{
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)),url("../img/AV-Home-Page-Background-Mirrored.jpg");
	background-size: cover;
	background-position: center;
	
	background-attachment: fixed;

}
.Delivery_section .container{
	
	/*background-image: url("../img/welcomw to kats.jpg");*/
	background-size: cover;
	background-position: center;
	height: auto;
	width: auto;
}

.Delivery_section i{
	margin-top: 10px;
	font-size: 40px;
	color:#FDEDEC ;
	
}
.Delivery_section span{
	text-align: center;
	color: white;
}
.Delivery_section p{
	
	color: white;
}
.Delivery_section .icon{
	text-align: center;
}


/*----------------------- destoip @ laptop items__ part-4  ------------*/

.card-section .image1{
 	height:150px;
 	width:150px;
 	margin-left:60px;

 }

 .laptop_item .card{
 	margin-top: 10px;
 	margin-left:0px;
 	

 	
 }
 .laptop_item .card:hover{
 	box-shadow: 0 1px 3px #641E16 ;
 	

 }
 .heading_section{
 	border-bottom:solid;
 	padding-right: 1px;
    padding-left: 1px;
 }
.heading_section2{
 	border-bottom:solid #E74C3C;
 	padding-right: 1px;
    padding-left: 8px;
 }

 .heading_section h4{
	border-radius: 5px;
	background-color: #DC143C;
	width:255px;
	color:white;
	font-family: 'Noto Serif', serif;
	font-size:22px;
	padding: 5px;
}


.laptop_item img{
	position: center;
	height: 200px;
	width: 250px;
	margin: auto;
}

/*--------------------cart----------*/




/*<-- ----------------------- mouse@keybord part_5  ------------ -->*/

.mouse_item img{
	position: center;
	height: 200px;
	width: 250px;
	margin: auto;
}
.mouse_item .card{
	margin-top: 10px;
 	margin-left:0px;
}
.mouse_item .card:hover{
	box-shadow: 0 1px 3px #641E16 ;
}

.mouse_keybord h4{
	width: 240px;
	background-color:#C0392B ;
	color: white;
	border-radius:5px;
	padding: 5px;
	font-family: 'Noto Serif', serif;
	font-size:22px;
}

.mouse_keybord .h_section{
	border-bottom:solid;
 	padding-right: 1px;
    padding-left: 8px;
}
.mouse_keybord .h_section2{
	border-bottom:solid #E74C3C;
 	padding-right: 1px;
    padding-left: 8px;
}

  /*----   keybord part ------*/

.keybord_item img{
	position: center;
	height: 200px;
	width: 250px;
	margin: auto;
}
.keybord_item .card{
	margin-top: 10px;
 	margin-left:0px;
}
.keybord_item .card:hover{
	box-shadow: 0 1px 3px #641E16 ;
}

/*-- ----- image c.v.------- -- -------------------------*/
.cviamge .col{
overflow: hidden;
}
.img img{

width: 700px;
height: 120px;
transition: 1s;
}

.cviamge .col:hove{
	transform: scale(1.2);
	transition: 1s;
}
.img2 img{
width: 350px;
height: 120px;
/*margin-left:100px;*/

}

 /*--------------------- others item-------------*/

.other_item img{
	position: center;
	height: 220px;
	width: 250px;
	margin: auto;
}
.other_item .card{
	margin-top: 10px;
 	margin-left:0px;
}
.other_item .card:hover{
	box-shadow: 0 1px 3px #641E16 ;
}
.other_item .btn-block{
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 12px;
	margin-bottom: 20PX;

}
.other_item .btn-block a{
	text-decoration: none;
	
}
/*- -------------------------------------   -about section  ------------------------ --*/
.ABS{
	background-color:#EAECEE ;
	height: auto;
	margin-bottom: 30px;
	margin-top: 50px;
}
.aboutS{
	background-color: #EAECEE ;
	
}

.abs1 img{
height: 120px;
width: 150px;
margin-top: 10px;
margin-bottom: 10px;
}
.abs2 a{
	color: black;
	text-decoration: none;
}
.abs2 a:hover{
	color: #E74C3C;
}
.abs3 a{
	color: black;
	text-decoration: none;
}
.abs3 a:hover{
	color: #E74C3C;
}

.abs2 strong{
	line-height:0;
	margin-top: 80px;
}
.abs2 img{
height: 120px;
width: auto;
margin-top: 10px;
margin-bottom: 10px;
}
.abs3-W{
	margin-top: 140px;
}
.abs4 img{
height: 120px;
width: auto;
margin-top: 10px;
margin-bottom: 10px;
}
.abs4 .btn{
	 display: inline-block;
    width: 40px;
    height: 40px;
    background-color:#e0d5e4;
    padding: 2px 2px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.skype {
	margin-top: 8px;
}
.envelope{
	margin-top: 8px;
}
.abs4 .btn i{
    line-height: 30px;
    font-size: 25px;
    transition: 0.2s linear;
 }
 .abs4 .btn:hover i{
    transform: scale(1.5);
    color: #3498db;

  }
 .abs4 .btn::before{
    content: "";
    position: absolute;
    height: 120%;
    width: 120%;
    background-color:#1E90FF;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;

  }
 .asb4 .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
 @keyframes aaa{
    0%{
       top: 90%;
    left: -110%;
    }
    50%{
        top:-30%;
    left: 10%;
    }
    100%{
        top: -10%;
        left: -10%;
    }
  }
  .Dapp img{
  	height: 80px;
  	width: 90px;
  }

/*<!-- -------- neweletter-section  ------ -->*/


/* .newsls{
  	background-color:white;
  	margin-bottom: 40px;

  }

.newsls span{

	margin-left:52px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom:20px;
}

.massge strong{
	margin-top: 0;
	margin-left:5px;
}

.massge i{
	 margin-top: 28px;
    font-size: 40px;
    margin-bottom: 5px
}

.newsls2 .input-group{
	margin-top: 28px;


}
.newsls2 input{
	border-radius: 30px;
}
.newsls2 .submit{
	
	font-size: 20.5px
	border-radius: 30px;
}
.newsls2{
	margin-left: -20px;
}
.sendbtn2{
	margin-left: 20px;
	padding: 2px 1px;
}
*/
.newsls{
  	background-color:white;
  	margin-bottom: 40px;
  }
  .newsls span{

	margin-left:52px;
	font-size: 16px;
	font-weight: 400;
	margin-bottom:-40px;
}
.massge strong{
	margin-top: 0;
	margin-left:5px;
}
.massge i{
	 margin-top: 28px;
    font-size: 40px;
    margin-bottom: 5px
}
/*---------------------*/
.search_box{
	position: absolute;
	 margin-top: 50px;
	transform: translate(-50%,-50%);
	background: #2f3640;
	height: 40px;
	border-radius: 40px;
	margin-left: 200px;
	
}
.search_btn{
	
	color: #e84118;
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: #2f3640;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: 0.4s;


}
.search_txt{
	border: none;
	background: none;
	outline: none;
	float: left;

	color: white;
	font-size: 16px;
	transition: 0.4s;
	line-height: 40px;  
	width:250px;
	padding: 0px 30px;


}
/*.search_box:hover >.search_txt{
	width: 240px;
	padding: 0 6px;
}
.search_box:hover >.search_btn{
	background: white;
}*/
 /*----copy riht section --------*/



.Bscard img{
	margin-top:-50px;
	margin-left: 20px;
	height: 100px;
	width: 150px;
}



/*---------------------------------------------- contactus page ----------------------------------------*/
.ContactAbout{
	background-color: #EAECEE ;
	margin-top: 30px;
	
}
.HPback{
	margin-top: 30px;
}
.HPback h4{
	margin-top: 30px;
	color: #131111c9;
    font-weight: 900;
}
.form-row input{
	padding: 25px 15px;
}
.submit_btn button{
	margin-top: 20px;
	background-color:#808B96;
	color: white;
}
.homebtn{
	background-color:#808B96;
	color: white;
}
.contact h4{
	color: #131111c9;
    font-weight: 900;
    margin-bottom: 42px;
    margin-top: 62px;
}
.contact  i{
	font-size: 20px;
	margin-right: 10px;
}
.contact h3{
	color: #131111c9;
    font-weight: 900;
    
}
 .contact strong{
 	font-weight: 800;
    color: #0000008f;
}

/*----  about section   -------*/
.about-section .BTS{
	margin-top:50px;
	
}
.about-section{
	margin-top: 30px;

}
.BTS img{
	height:100%;
	width: 100%;
}
.BTS h3{
	font-size: 25px;
	text-align: center;
	font-weight:700;
	color: #55595d;
}
.BTS h4{
	font-size: 22px;
	text-align: center;
	font-weight: 600;
	color: #55595d;
}
.BTS p{
	color: #787c7f;
	margin-left: 30px;
	font-weight: 500;
}
.BTS button{
	background-color:#808B96;
	margin-left: 30px;
	margin-top: 10px;

	color: white;
}
.BTS button:hover{
	color: black;
}
/*<-- experience section -->*/

.EXP-section img{
	margin-top: 10px;
	padding:5px;
	height: 100px;
	width: 100px;
	margin-left: 70px;

}
.EXP-section p{
text-align: center;
}
.EXP-section{
	margin-bottom: 15px;
	margin-top: 10px;
}
.EXP-section .box1{
	transition: 1s;
}
.about-section2{
	margin-top: 10px;
	background-color:#eaecee;
	
}
.box1{
	
	background-color: #82e29f;
	color:#7139cc;
}
.box2{
	background-color:#bed0e2;
	color:#0aa95f;
}
.box3{
	background-color:#9ec4ea;
	color:#78ff34;
}
.box4{
	background-color:#d8c1cb;
	color: #dd18e0;
}

/*-------- skill section--*/

.skill-section .progress{
	margin-left: 50px;
	margin-top: 20px;
	height: 25px;
}
.skill-section h2{
	margin-left: 50px;
	margin-bottom: 20px;
	margin-top: 30px;
}
.skill-section p{
	font-size: 18px;
	margin-top: 7px;
}
.imgA{
	background-size: cover;
	background-position:center;
	background-image: url("../img/bottom.jpg");
	
	
	height: 400px;
	width: auto;
}
.bgcolur{
	background-color: #9c15b5f5;
}
.bgcolurMS{
	background-color: #c7145e;
}


---