*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 80%;
    margin: 0 auto;
}
.container{
    padding: 0% 10%;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
}
.navbar .logo{
    max-width: 30%;
}
.subscribe{
    max-width: 70%;
}
.subscribe a{
    font-size: 13px;
    color: #97999b;
    font-weight: 400;
    font-family: "Roboto";
    text-decoration: none;
}
.hero-banner{
    background-image: url(../img/galaxy-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-image {
    height: 400px;
    width: auto;
    position: relative;
}
.overly {
    /* position: absolute; */
    background-color: #000000b8;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  
}
.banner-content{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}
.banner-content h1{
    font-size: 32px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto";
}
.banner-content p{
    margin-top: 25px;
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}
a.button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    width: 161px;
    height: 47px;
    border-radius: 4px;
    background-color: #fb6e52;
}
.banner-content a {
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
    margin-left: 25%;
    margin-top: 40px;
    border: 1px solid white;
}
.banner-content a:hover{
    background-color: #3a3736;
    transition: 0.3s;
    transform: scale(1.05);
}
.features-section {
    margin-bottom: 6%;
}
.features-card-wrap {
    display: flex;
    gap: 2%;
    margin-top: 6%;
    margin-bottom: 6%;
}
.features-card {
    width: 32%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.features-card .icon-wrap {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #fb6e52;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features-card .title{
    font-size: 15px;
    color: #292c34;
    font-weight: 400;
    font-family: "Roboto";
    margin-top: 20px;
    margin-bottom: 10px;
}
.features-card .description {
    max-width: 190px;
    margin: 0 auto;
    font-size: 13px;
    color: #97999b;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}
.feactures-highlight {
    font-size: 20px;
    line-height: 24px;
    color: #fb6e52;
    font-weight: 300;
    font-style: italic;
    font-family: "Roboto";
    text-align: center;
    max-width: 55%;
    margin: 0 auto;
}
.featured-image-section {
    padding-bottom: 6%;
}
.featured-image-wrap {
    display: flex;
    flex-direction: row;
    gap: 2%;
}
.featured-image-card {
    width: 32%;
}
.featured-image img{
    width: 100%;
}
.featured-image-card h3{
    font-size: 15px;
    color: #292c34;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
    margin-top: 20px;
}
.featured-image-card .sub-title{
    font-size: 13px;
    color: #97999b;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
    margin-top: 10px;
}
.blog-section {
    background: #f9f9f9;
    padding-bottom: 6%;
    padding-top: 6%;
}
.blog-wrapper h2{
    font-size: 20px;
    color: #292c34;
    font-weight: 400;
    font-family: "Roboto";
    text-align: center;
}
.blog-card{
    width: 48%;
}
.blog-card-block {
    display: flex;
    flex-direction: row;
    gap: 4%;
    margin-top: 6%;
}
.blog-card img{
    width: 100%;
}
.blog-card h3{
    font-size: 15px;
    color: #fb6e52;
    font-weight: 400;
    font-family: "Roboto";
    margin-top: 20px;
}
.blog-card p{
    margin-top: 10px;
    font-size: 13px;
    color: #97999b;
    font-weight: 300;
    font-family: "Roboto";
}
footer{
    background-color: #292c34;
    padding: 30px 0px 25px 0px;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer-logo p{
    font-size: 13px;
    letter-spacing: -1px;
    color: #797c82;
    font-weight: 300;
    font-family: "Roboto";
    text-align: center;
}
.social-block ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 35px;
}
.footer-wraper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}